In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("yeast_og_elu.csv", header=None)

In [3]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,FKH2,NaN,-0.53,-0.34,-0.29,-0.29,0.05,-0.01,0.06,0.48,0.23,0.00,0.05,0.48,0.11
1,ACE2,-0.90,-1.00,-0.90,-1.15,-0.60,-0.37,-0.32,0.52,0.72,0.89,0.86,0.93,0.90,0.42
2,SWI5,-1.33,-0.93,0.83,-0.73,-0.78,-0.85,-0.07,0.51,0.64,0.60,0.58,0.62,0.61,0.29
3,MCM1,-0.30,-0.35,-0.15,0.00,-0.01,-0.11,-0.04,0.25,0.02,0.12,0.21,0.05,0.28,0.04
4,CLN3,-0.73,-0.05,-0.31,0.43,0.10,0.12,-0.40,-0.42,0.07,0.19,-0.21,0.48,0.47,0.25
5,MBP1,0.01,0.48,0.23,-0.25,-0.38,0.05,0.00,0.12,0.06,0.00,-0.18,-0.22,0.14,-0.03
6,SWI4,-0.70,0.04,0.02,0.30,0.32,0.04,-0.08,0.08,-0.08,-0.15,-0.08,0.10,0.10,0.10
7,SWI6,-0.20,-0.44,-0.44,-0.30,-0.02,-0.02,-0.06,0.10,0.38,0.49,0.02,0.46,0.01,0.02
8,NDD1,0.06,-0.51,-0.36,-0.72,-0.22,0.31,-0.02,0.44,0.40,0.39,0.35,0.20,-0.12,-0.22

In [4]:
original_data = []

for index, row in data.iterrows():
    gene_name = row.iloc[0]
    values = row.iloc[1:].values
    original = []
    
    for v in values:
        
        #print(v)
        
        if not np.isnan(v):
            
            original.append(2 ** v)
        else:
           
            original.append(0)
        
    #break
 
    original_data.append([gene_name] + original)

# Convert list to DataFrame
df = pd.DataFrame(original_data)

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,FKH2,0.000000,0.692555,0.790041,0.817902,0.817902,1.035265,0.993092,1.042466,1.394744,1.172835,1.000000,1.035265,1.394744,1.079228
1,ACE2,0.535887,0.500000,0.535887,0.450625,0.659754,0.773782,0.801070,1.433955,1.647182,1.853176,1.815038,1.905276,1.866066,1.337928
2,SWI5,0.397768,0.524858,1.777685,0.602904,0.582367,0.554785,0.952638,1.424050,1.558329,1.515717,1.494849,1.536875,1.526259,1.222640
3,MCM1,0.812252,0.784584,0.901250,1.000000,0.993092,0.926588,0.972655,1.189207,1.013959,1.086735,1.156688,1.035265,1.214195,1.028114
4,CLN3,0.602904,0.965936,0.806642,1.347234,1.071773,1.086735,0.757858,0.747425,1.049717,1.140764,0.864537,1.394744,1.385109,1.189207
5,MBP1,1.006956,1.394744,1.172835,0.840896,0.768438,1.035265,1.000000,1.086735,1.042466,1.000000,0.882703,0.858565,1.101905,0.979420
6,SWI4,0.615572,1.028114,1.013959,1.231144,1.248331,1.028114,0.946058,1.057018,0.946058,0.901250,0.946058,1.071773,1.071773,1.071773
7,SWI6,0.870551,0.737135,0.737135,0.812252,0.986233,0.986233,0.959264,1.071773,1.301342,1.404445,1.013959,1.375542,1.006956,1.013959
8,NDD1,1.042466,0.702222,0.779165,0.607097,0.858565,1.239708,0.986233,1.356604,1.319508,1.310393,1.274561,1.148698,0.920188,0.858565

In [6]:
df.to_csv("yeast_data_elu.csv", index=False, header=False, sep=',')